button.button-side-bar {
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.first {
  margin-bottom: 15px;
}

button.button-side-bar:hover {
  background: #0e9ab3;
}

.not-active {
  background: #12afcb;
}

.active {
  background: #ffd666;
  transition: background-color 0.2s;
}

.active:hover {
  background: #fbff00;
}
